{% extends 'admin_base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="card card-outline card-info">
        <div class="card-header">
            <h3 class="card-title">
                Ajouter un article
            </h3>
        </div>
        <div class="card-body">
            {{ include('article/_form.html.twig') }}
        </div>
        <div class="card-footer">
        </div>
    </div>


    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        $('#article_contenu').summernote({
            height: 250,
        })
    </script>
{% endblock %}
